<h1>Mis publicaciones</h1>
<table border="1" >
	<tr>
		<td>titulo</td>
		<td>descripcion</td>
		<td>fecha</td>
	</tr>
	<% @post.each do |p| %>
	<tr>
		<td><%= p.titulo %></td>
		<td><%= p.descripcion %></td>
		<td><%= p.fecha %></td>
		<td><%= link_to 'editar', edit_post_path(post_id: p.id) %></td>
	</tr>
	<% end %>
</table>
<%= link_to 'crear nuevo post' , new_post_path %>